<header>
    <div class="col-sm-2">
        <div class="logo">
            <div class="logo-img" title="Chandrika Consultants"></div>
        </div>
    </div>
    <div class="row d-flex header bg-dark">
        <div class="col-12">
            <nav class="navbar navbar-expand-sm navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <a class="nav-link" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/services">Service</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/training">Training Program</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/consultation">Consultation Process</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/contact-us">Contact us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>