<footer class="row">
  <div class="bg-dark">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="navbar-collapse col-sm-9">
        <ul class="navbar-nav text-uppercase">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/services">Service</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/training">Training Program</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/consultation">Consultation Process</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/contact-us">Contact us</a>
          </li>
        </ul>

      </div>
      <div class="col-sm-3">
        <ul class="navbar-nav right-item">
          <li><a href="mailto:someone@yoursite.com"><img src="/assets/images/email.png" /></a></li>
          <li><a href="tel:8585948505"><img src="/assets/images/call.png" /></a></li>
          <li><img src="/assets/images/location.png" /></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="footer-txt">CHANDRIKA &copy; 2018 ALL RIGHT RESERVED | <a href="#">PRIVACY POLICY</a></div>
</footer>