<section>
    <app-banner></app-banner>
    <div class="intro row">
        <div class="img col-6"><img src="../../assets/images/intro.jpg"></div>
        <div class="intro-text col-6 bg-dark">
            <p><b>Chandrika Meetu Gupta,</b> a well known name in the field of tarot card reading. She is also a '<b>Reiki Healer','Numerologist' &amp; 'Vastu Consultant'.</b></p>
            <p>She fully believes in karmic cycle whereas strongly believe in <b>"What goes around, comes around"</b>. Through
                in the span of almost <b>past 10 years,</b> she has helped people from different walk of life, including
                celebrities, with her simple east to do yet powerful &amp; effective remedies. By the Grace of God's &amp;
                blessings of her aacharya, her predictions have achieved absolute accuracy &amp; promising satisfaction to
                her clients.
                <p><a href="#">Read More</a></p>
        </div>
    </div>
    <div class="row tag-line">
        <div class="col-sm-12"><b>'Tarot Card'</b> reading is an age-old drivine methods of predicling past, present &amp; future of a person with
            help of cards-deck &amp; psychic intuitions of the reader. This intuition not only includes a trust of tarot
            cards and faith in angel guidance, through which he/she can receive destination messages. Tarot reading is one
            of the fastest, safest, simplest methods of knowing past, present and future anybody.</div>
    </div>
    <div class="row">
        <carousel [carouselType]="'home'" [loop]="true" [grid]="{ xs: 1, sm: 1, md: 2, lg: 3, all: 0 }" [carouselItems]="offerIteams"
            [interval]="6000"></carousel>
    </div>
</section>